---
---

@import "minima";

.wrapper{
    max-width: inherit;
}

#Header{
  display: inline-block;
  padding: 20px;
    a {
        float: left;
        padding: 10px;
        font-weight: bold;
        color: #000;
        &:hover{
            text-decoration: none;
        }   
    }
    nav{
        float: right;
        line-height: 3em;
    }
    h1{
        display: inline-block;
        margin: 0;
        font-size: 2em;
    }
}

#masonry{
  display: block;
  margin: 0 auto;
  &:after{
    content: "";
    clear: both;
    display: block;
  }
    li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    float: left;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 0;
    min-height: 240px;

    @media (max-width:670px){
        width:100%;
        }
  
    @media (min-width:670px){
        min-width: 320px;
        }
    
        a{
            width: 100%;
            height: 100%;
            font-size: 1em;
            text-decoration: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            &:hover{
                background:rgba(0, 0, 0, 0.5);    
                opacity: 1;
                }
    
            h2{
                font-size: 1em;
                color: white;
                margin : 10px auto 0 auto;
                span{
                    display: block;
                }
            }
            h3{
                font-size: 1.5em;
                color: white ;
                margin: 10px auto 0 auto;
            }
            h4{
                float: left;
                width: 50%;
                margin: 10px 25%;
                font-size: 0.8em;
                color:white;
                span{
                    display: inline-block;
                    padding: 4px 4px;
                    border: 1px solid white;
                    margin-right: 10px;
                    min-width: 4em;
                    margin: 5px;
                    border-radius: 1em;
                }
                }
        }
        img{
            z-index: 1;
        }
    }
}

.sns {
    // reset
    list-style: none;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    text-align: center;
    padding: 50px 0;
    border-top: 1px solid #ddd;
    margin: 0 30px;
    li{
        display: inline-block;
    }
    button{
        border:none;
        font-size: 1em;
        i{
            margin: 5px;
            padding: 5px;
        }
    }
    .twitter{
        color:#00acee;
    }
    .behance{
        color:  #053eff;
    }
    .dribbble{
        color:  #ea4c89;
    }
    .linkedin{
        color:#0077B5;
    }
    .codepen{
        color:#000;
    }
    .github{
        color:#6cc644;
    }
}
.list{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding-left: 10px;
    li{

    }
    h2
    {

    }
    h3{

    }
    h4{

    }
    p{
        
    }
}